/*================media==============*/

@media only screen and (max-width:2000px){
}
@media only screen and (max-width:1440px){
    .portfolio-row img{
        height: 250px;
    }
}

@media only screen and (max-width:1366px){
    .portfolio-gallery{
        margin: 0 5%;
    }
}

@media only screen and (max-width:1024px){
    .service{
        flex-wrap: wrap;
        padding: 0;
    }
    .service-title{
        width: 100%;
        text-align: center;
    }
    .box-img{
        width: 350px;
        height: 400px;
    }
    .about-img img{
        width: 350px;
    }
}

@media only screen and (max-width:992px){    
    .service{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .portfolio-row img{
        height: 250px;
    }
}

/* iPhone X width */
@media only screen and (max-width:882px){
    .nav-bar{
        width: 30%;
    }
    .menu-bth{
        right: -100px;
    }
    .menu-bth span,
    .menu-bth span::before,
    .menu-bth span::after{
        margin-left: -10px;
    }
    .about-img img{
        width: 350px;
    }
    .portfolio-row img{
        height: 200px;
    }
    .portfolio-row .portfolio-item{
        bottom: 8.5px;
    }
    .portfolio-gallery .portfolio-row a{
        width: 30%;
    }
}

@media only screen and (max-width:768px){
    .nav-bar{
        width: 40%;
    }
    .menu-bth{
        right: -80px;
    }
    .box-img{
        width: 300px;
        height: 300px;
    }
    .about-img img{
        width: 300px;
    }
    .portfolio-row{
        flex-wrap: wrap;
    }
    .menu-bth{
        top: 30px;
    }
}

/* iPhone 6/7/8  width */
@media only screen and (max-width:667px){
    .menu-bth{
        right: -50px;
    }
    .about{
        padding: 100px 0 500px;
        display: block;
    }
    .box-img{
        left: 50px;
        top: 0px;
        width: 400px;
        height: 400px;
    }
    .about-img img{
        margin-top: 50px;
        width: 400px;
    }
    .about-img{
        text-align: center;
    }
    .about-text{
        text-align: center;
        width: 100%;
    }
    .service{
        padding: 10px  0 10px;
    }
    .service-blocks{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .ser-block{
        width: 100%;     
        text-align: center;
        margin: 0 10px; 
    }
    .portfolio-row img{
        height: 150px;
    }
    .portfolio-row .portfolio-item{
        bottom: 10px;
    }
    .gallery-nav ul li{
        margin: 10px 10px;
        padding: 5px 25px;
    }
    .portfolio-row{
        margin-top: 10px;
    }

}

/* iPhone 5/SE  width */
@media only screen and (max-width:568px){
    .nav-bar{
        width: 50%;
    }
    .about-img{
        width: 10%;
    }
    .box-img{
        left: 0px;
        width: 380px;
        height: 400px;
    }
    .about-img img{
        margin-top: 50px;
        width: 400px;
    }
    .service-blocks{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .ser-block:hover i{
        margin-top: -20px;
    }
    .portfolio-row{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .portfolio-row img{
        height: 100%;
    }
    .portfolio-row .portfolio-item{
        bottom: 5px;
    }
    .portfolio-gallery .portfolio-row a{
        width: 95%;
        height: 200px;
    }
    .gallery-nav ul li{
        padding: 10px 20px;
    }
    .btn-home{
        position: absolute;
    }
}

@media only screen and (max-width:480px){
    .title-big{
        font-size: 50px;
    }
    .about-img img{
        width: 350px;
    }
    .portfolio-row img{
        height: 350px;
    }
    .gallery-nav{
        margin: 60px 0 25px;
    }
    .btn-home{
        left: 10px; top: 15px;
    }
}

/* iPhone 6/7/8 Plus */
@media only screen and (max-width:414px){
    .box-img{
        width: 330px;
        height: 380px;
    }
    .about-img img{
        width: 320px;
    }
    .portfolio-row img{
        height: 300px;
    }
    .portfolio-row .portfolio-item{
        bottom: 7px;
    }
    .gallery-nav ul li{
        padding: 5px 10px;
    }
}

/* iPhone 6/7/8 and X */
@media only screen and (max-width:375px){
    .nav-bar{
        width: 70%;
    }
    .menu-bth span,
    .menu-bth span::before,
    .menu-bth span::after{
        margin-left: -10px;
    }
    .title-big{
        font-size: 40px;
    }
    .box-img{
        width: 330px;
        height: 370px;
    }
    .about-img img{
        width: 300px;
    }
    .portfolio-row img{
        height: 280px;
    }
    .gallery-nav ul li{
        margin: 10px 5px;
    }
}

/* samsung galaxy s5 */
@media only screen and (max-width:360px){
}

@media only screen and (max-width:320px){
    .menu-bth span,
    .menu-bth span::before,
    .menu-bth span::after{
        margin-left: -10px;
    }
    .title-big{
        font-size: 30px;
    }
    .box-img{
        width: 270px;
        height: 300px;
    }
    .about-img img{
        width: 250px;
    }
    .portfolio-row img{
        height: 250px;
    }
    .gallery-nav ul li{
        margin: 10px 2px;
    }
}
