@font-face{
    font-family: Poppins-Medium;
    src: url(../font/Poppins-Medium.ttf); 
}

*{
    margin: 0;
    padding: 0;
}

body{
    opacity: 1;
    overflow: auto;
    font-size: 16px;
    color: #000;
    line-height: 1.5;
}

ul{
    list-style: none;
    padding-left: 0px;
}

a, a:hover, a:visited{
    text-decoration: none;    
}

/*---------button-up---------*/


.button-up{
    position: fixed;
    bottom: -50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #fff;
    background: #846c54;
    z-index: 100;
    outline: 0!important;
    transition: .4s;
}

.button-up:hover{
    background: #846c54;
    opacity: 0.9;
}

.button-up:after{
    content: '';
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.button-up.active{
    bottom: 50px;
}


/*==============header==============*/

header{
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}

.header-bg{
    background-color: rgb(0,0,0,0.5);
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.title-hellow{
    text-align: center;
}

.title-hellow span{
    text-transform: uppercase;
    font-family: 'Poppins-Medium';
    display: block;
}

.title-big{
    color: #fff;
    font-size: 70px;
    letter-spacing: 10px;
    margin-bottom: 20px;
    padding: 0 20px;
    border: 3px solid #fff;
    position: relative;
    animation: text 1s 1;
}

.title-small{
    font-size: 20px;
    color: #846c54;
}

@keyframes text{
    0%{
        letter-spacing: 25px;
        margin-bottom: -20px;
    }
}


/*=============menu==========*/


.nav-bar{
    position: fixed;
    left: 0; top: 0;
    width: 25%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #394648;
    transition: 1s;
    transform: translatex(-100%);
    z-index: 2;
}

.nav-bar-active{
    transform: translatex(0%);
}

.menu-bth{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    right: -110px;
    top: 80px;
}

.menu-bth-active{
    right: -50px;
    top: 0;
}

.menu-bth span,
.menu-bth span::before,
.menu-bth span::after{
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -10px;
    width: 20px;
    height: 3px;
    background-color: #939ea2;
}

.menu-bth span::before,
.menu-bth span::after{
    content: '';
    display: block;
    transition: 0.3s;
}

.menu-bth span::before{
    transform: translateY(-9px);
}

.menu-bth span::after{
    transform: translateY(7px);
}

.menu-bth-active span{
    height: 0px;
}

.menu-bth-active span:before{
    transform: rotate(45deg);
}

.menu-bth-active span:after{
    transform: rotate(-45deg);
}

.menu-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 50%;
}

.menu-list a{
    text-transform: uppercase;
    font-family: 'Poppins-Medium';
    color: #846c54;
}

.menu-list a:hover{
    color: #fff;
    letter-spacing: 5px;
    transition: 0.5s;
}


/*===================about=====================*/


.about{
    margin: 0 6%;
    padding: 200px 0 100px;
    display: flex;
    justify-content: space-around;
}

.about-img{
    width: 40%;
}

.about-img img{
    z-index: 1;
    position: absolute;
    height: auto;
    width: 450px;
    border: 10px solid #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.15);
}

.box-img{
    right: 100px;
    top: 870px;
    width: 450px;
    height: 500px;
    position: absolute;
    background-color: #394648;
    border: 10px solid #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.15);
}

.about-text{
    width: 40%;
    
}

.about-text h3{
    font-size: 24px;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.about-text p{
    font-size: 20px;
    margin-bottom: 20px;
}


/*===================service=====================*/


.service{
    padding: 200px  0 100px;
    display: flex;
    margin: 0 10%;
}

.service-title h3{
    margin-top: 40px;
    font-size: 24px;
    letter-spacing: 5px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Poppins-Medium';
    color: #846c54;
}

.service-title p{
    font-size: 20px;
    margin-bottom: 50px;
}

.service-blocks{
    display: flex;
    justify-content: space-around;
}

.ser-block{
    width: 200px;     
    text-align: center;
    margin: 0 20px; 
}

.ser-block:hover{
    margin-top: -40px;
    transition: 0.5s;
}

.ser-block i{
    font-size: 50px;
    margin: 40px 0;
    color: #846c54;
}

.ser-block h3{
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Poppins-Medium';
}

.ser-block p{
    margin: 30px 0;
}


/*===================portfolio=====================*/


.portfolio{
    padding: 100px 0;
    text-align: center;
    margin: 0 10%;
}

.portfolio h3{
    text-transform: uppercase;
    font-family: 'Poppins-Medium';
    color: #846c54;
    font-size: 24px;
    letter-spacing: 5px;
}

.portfolio-box{
    margin-top: 50px;
}

.portfolio-row{
    display: flex;
    justify-content: center;
}

.portfolio-row .portfolio-item{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 6.8px;
    position: absolute;
    font-size: 46px;
    color: #fff;
    background: rgb(0,0,0,0.3);
    transform: scaleY(0);
}

.portfolio-row a:hover .portfolio-item{
    transition: 0.7s;
    transform: scaleY(1);
}

.portfolio-row a{
    width: 100%;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}

.portfolio-row img{
    width: 100%;
    height: 300px;
}

.portfolio-row a:hover img{
    transition: 0.7s;
    transform: scale(1.05) translateY(-6.8px);

}

.button{
    margin-top: 80px;
}

.button a{
    color: #fff;
    padding: 20px 80px;
    background: #846c54;
    text-transform: uppercase;
    font-family: 'Poppins-Medium';
}

.button a:hover{
    transition: 0.5s;
    background: #fff;
    border: 1px solid #846c54;
    letter-spacing: 5px;
    color: #846c54;
}


/*===============footer==============*/


footer{
    background-color: #394648;
    padding: 100px 0;
}

.footer-social{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.footer-social a{
    color: #fff;
    margin: 0 20px;
}

.footer-social a:hover{
    transition: 0.5s;
    color: #846c54;
}


/*==================portfolio page=======================*/


.portfolio-gallery{
    margin: 0 5%;
    padding-bottom: 100px;
}

.gallery-nav{
    margin: 40px 0 25px;
}

.gallery-nav ul{
    display: flex;
    justify-content: center;
}

.gallery-nav ul li{
    margin: 10px 20px;
    text-transform: capitalize;
    font-family: 'Poppins-Medium';
    border: 1px solid #846c54;
    padding: 10px 40px;
}

.gallery-nav ul li:hover{
    letter-spacing: 5px;
    transition: .5s;    
}

.portfolio-gallery .portfolio-row a{
    max-width: 100%;
    margin: 0 10px 10px;
    position: relative;
    overflow: hidden;
}

.portfolio-gallery .portfolio-item{
    display: flex;
    text-align: center;
    flex-direction: column;   
}

.portfolio-gallery .portfolio-item h3{
    letter-spacing: 5px;
    font-size: 26px;
    text-transform: uppercase;
    font-family: 'Poppins-Medium';
}

.portfolio-gallery .portfolio-item p{
    font-size: 20px;
    font: italic;
}